// Widgets

@import "widgets/helpers-utilities/base";
@import "widgets/react-dropzone/base";
@import "widgets/react-slick/base";
@import "widgets/react-contextmenu/base";
@import "widgets/react-circular-progressbar/base";
@import "widgets/react-perfect-scrollbar/base";
@import "widgets/hamburgers/base";
